.todo {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 4px 0;
}

.todoDragArea {
  display: flex;
  align-items: center;
  width: 40px;
}

.todoDragArea:hover {
  cursor: grab;
  opacity: 0.8;
}

.todoDragIcon {
  display: block;
  width: 40px;
  height: 40px;
  background: url('/move.svg') no-repeat center / 20px 20px;
}

.todoContent {
  flex-grow: 1;
  display: flex;
  padding: 4px 4px 4px 0;
  background-color: var(--gray-100);
  border-radius: var(--ui-border-radius-8);
  transition: var(--base-transition);
}

.todoDone {
  text-decoration: line-through;
  background-color: var(--secondary-green);
}

.todoContent:hover {
  cursor: pointer;
  z-index: 10;
}

.todoText {
  margin: 0;
  padding: 0 8px;
  text-align: left;
}

.todoDelete {
  flex-shrink: 0;
  width: 32px;
  height: 100%;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  background: url('/cross.svg') no-repeat center / 24px 24px;
}

.todoDelete:hover {
  opacity: 0.6;
}
